<launch>
  <node pkg="eye" type="eye" name="eye_node" output="screen">
  </node>

  <node pkg="prupwm" type="prupwm" name="prupwm_node" output="screen" respawn="true">
  </node>

  <node pkg="wheel" type="wheel" name="wheel_node" output="screen">
  </node>

  <node pkg="body" type="body" name="body_node" output="screen">
  </node>
</launch>

